*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.carousel-caption h1{
    font-size: 70px;
}

.carousel-caption p{
    margin-top: 30px;
} 

.social-icons{
    top: 20%;
    left: 3%;
    position: absolute;
    z-index: 2;
} 
.social-icons ul li{
    
    list-style: none;
    font-size: 75px;
}

.social-icons ul li img{
    
    background-color:#9FA6A8;
}
.navbar-brand img{
    height: 80px;
    width: 80px;
}