*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: black;
}
main{
    background-color: black;
    padding-bottom: 20px;
}
footer{
    background-color:rgb(48, 46, 46);
    color: #fff;
}

.carousel-caption h1{
    font-size: 40px;
}

.carousel-caption p{
    margin-top: 20px;
} 

.navbar-brand img{
    height: 50px;
    width: 50px;
}
.home{
    background-color: black;
}
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.main-text h1{
    font-family: Arial, Helvetica, sans-serif;
}

.cart{
    background-color: black;
}
.list-group-item{
    font-weight:600;
}

.contact{
    text-align: center;
    background-color: black;
}
.contact-form{
    display: inline-block;
    
}
.cart{
 margin-top: 50px;
        margin-bottom: 50px; /* Added */
    text-align: center;
}

.social-links img{  
    height: 30px;
    width: 30px;
}